In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('./data/pokedex.csv')

In [7]:
data.head()

,Unnamed: 0,pokedex_number,name,german_name,japanese_name,generation,status,species,type_number,type_1,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,1,Bulbasaur,Bisasam,フシギダネ (Fushigidane),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,2,Ivysaur,Bisaknosp,フシギソウ (Fushigisou),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,3,Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,3,Mega Venusaur,Bisaflor,フシギバナ (Fushigibana),1,Normal,Seed Pokémon,2,Grass,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
4,4,4,Charmander,Glumanda,ヒトカゲ (Hitokage),1,Normal,Lizard Pokémon,1,Fire,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045 entries, 0 to 1044
Data columns (total 51 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1045 non-null   int64
 1   pokedex_number    1045 non-null   int64
 2   name              1045 non-null   object
 3   german_name       1045 non-null   object
 4   japanese_name     1045 non-null   object
 5   generation        1045 non-null   int64
 6   status            1045 non-null   object
 7   species           1045 non-null   object
 8   type_number       1045 non-null   int64
 9   type_1            1045 non-null   object
 10  type_2            553 non-null    object
 11  height_m          1045 non-null   float64
 12  weight_kg         1044 non-null   float64
 13  abilities_number  1045 non-null   int64
 14  ability_1         1042 non-null   object
 15  ability_2         516 non-null    object
 16  ability_hidden    813 non-null    object
 17  total_points      1045 non-null   int64
 18  hp                1045 non-null   int64
 19  attack            1045 non-null   int64
 20  defense           1045 non-null   int64
 21  sp_attack         1045 non-null   int64
 22  sp_defense        1045 non-null   int64
 23  speed             1045 non-null   int64
 24  catch_rate        1027 non-null   float64
 25  base_friendship   930 non-null    float64
 26  base_experience   925 non-null    float64
 27  growth_rate       1044 non-null   object
 28  egg_type_number   1045 non-null   int64
 29  egg_type_1        1042 non-null   object
 30  egg_type_2        285 non-null    object
 31  percentage_male   872 non-null    float64
 32  egg_cycles        1044 non-null   float64
 33  against_normal    1045 non-null   float64
 34  against_fire      1045 non-null   float64
 35  against_water     1045 non-null   float64
 36  against_electric  1045 non-null   float64
 37  against_grass     1045 non-null   float64
 38  against_ice       1045 non-null   float64
 39  against_fight     1045 non-null   float64
 40  against_poison    1045 non-null   float64
 41  against_ground    1045 non-null   float64
 42  against_flying    1045 non-null   float64
 43  against_psychic   1045 non-null   float64
 44  against_bug       1045 non-null   float64
 45  against_rock      1045 non-null   float64
 46  against_ghost     1045 non-null   float64
 47  against_dragon    1045 non-null   float64
 48  against_dark      1045 non-null   float64
 49  against_steel     1045 non-null   float64
 50  against_fairy     1045 non-null   float64
dtypes: float64(25), int64(13), object(13)
memory usage: 416.5+ KB

In [9]:
df = data[['name', 'type_1', 'generation', 'total_points']]

In [10]:
df.head()

            name type_1  generation  total_points
0      Bulbasaur  Grass           1           318
1        Ivysaur  Grass           1           405
2       Venusaur  Grass           1           525
3  Mega Venusaur  Grass           1           625
4     Charmander   Fire           1           309